# Archivo de ejemplo para variables de entorno
# Copiar este archivo y renombrar a dev.env, staging.env, prod.env según el perfil requerido
# Variables requeridas para conexión a PostgreSQL para impactar scripts de dashboard-db

# Conexión a PostgreSQL
DB_URL=postgresql://localhost:5432/command_db
DB_USER=cmafactoria
DB_PASSWORD=