# Archivo de ejemplo para variables de entorno
# Copiar este archivo y renombrar a dev.env, staging.env, prod.env según el perfil requerido
# Variables requeridas para conexión a PostgreSQL para impactar scripts de dashboard-db

# Configuracion para build.sh
ENV_IMAGE_NAME=command-api-ms
ENV_TAG=1.0.0