# Archivo de ejemplo para variables de entorno
# Copiar este archivo y renombrar a dev.env, staging.env, prod.env según el perfil requerido
# Variables requeridas para conexión a PostgreSQL para impactar scripts de dashboard-db

# Configuracion de backend
COMMANDS_API=