# Archivo de ejemplo para variables de entorno
# Copiar este archivo y renombrar a dev.env, staging.env, prod.env según el perfil requerido

# API del backend Commands
COMMANDS_API=http://localhost:8080/api