# Archivo de ejemplo para variables de entorno
# Copiar este archivo y renombrar a dev.env, staging.env, prod.env según el perfil requerido

# Puertos de los MFEsremotos (para configurar las rutas en el shell)
MFE_COMMANDS_PORT=3001
MFE_SETTINGS_PORT=3002
MFE_DASHBOARD_PORT=3003