# Archivo de ejemplo para variables de entorno
# Copiar este archivo y renombrar a dev.env, staging.env, prod.env según el perfil requerido
# Variables requeridas para conexión a PostgreSQL para impactar scripts de dashboard-db

# Conexión a PostgreSQL
ENV_PSQL_USERNAME=
ENV_PSQL_PASSWORD=
ENV_PSQL_HOSTNAME=
ENV_PSQL_PORT=

ENV_PSQL_DASHBOARD_DB=dashboard_db
ENV_PSQL_COMMANDS_DB=commands_db
ENV_PSQL_SETTINGS_DB=settings_db

# Opcional: Variables para control de ejecución
ENV_SCRIPT_LOG_LEVEL=INFO
ENV_DRY_RUN=false